@import "~normalize-scss/sass/normalize";
@import "variables";

@include normalize();

body {

  font-family: "Roboto", sans-serif;
  background-color: $color-1-dark;
  color: $font-color;

}

//input, button {
//  border: none;
//  background-color: transparent;
//}

.container {
  width: 100%;
}

.wrapper {
  background-color: $color-1;
}

@media screen and (min-width: $screen-sm-min) {

  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .wrapper {
    width: $container-sm;
    box-sizing: border-box;
    padding: 1.5rem 0 0;
  }

}