$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;
$screen-xs: 480px;
$screen-xs-max: 767px;
$screen-sm-max: 991px;
$screen-md-max: 1199px;

$container-sm: 750px;
$container-md: 970px;
$container-lg: 1170px;

$color-1: #20182C;
$color-1-dark: #160F22;
$color-1-light: #4E4572;
$color-2: #F95B55;
$color-3: #EDF464;

$font-color: #EFF3F3;